#new_tweet_row {
  text-align: center;
}

#tweets_list {
  ul {
    padding-left: 0px;

    li {
      list-style-type: none;
      padding: 5px;
      font-size: 20px;

      a img.trash_button {
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
      }
    }
  }

  a {
    color: #E51880;
    text-decoration: none;
  }

  h1, p, li, td, tr {
    color: #615151;
  }
}

#new_tweet_row {
  margin: 20px auto;
}